<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="login-wrap">
			    <form #f="ngForm" (ngSubmit)="buscar(f)"  id="form_tercero" class="form-inline login-html">
			    	<div class="form-group" style="width: 60%">
    					<input type="text" [(ngModel)]="desc" name="desc" class="input form-control col-lg-12" id="staticEmail2" placeholder="Nombre del complementario">
			    	</div>
			    	<div class="form-group">
			    		<button class="btn btn-light"><i class="material-icons">search</i></button>
			    	</div>
			    	<div class="form-group">
			    		<a class="btn btn-light" [routerLink]="['/complementario']"><i class="material-icons">control_point</i></a>

			    	</div>
			    </form>
			 </div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" >
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Acción</th>
			      <th scope="col">#</th>
			      <th scope="col">Descripcion</th>
			      <th scope="col">Valoracion</th>
			      <th scope="col">Fecha de Modificaciòn</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr class="">
			      <th scope="col" class=""></th>
			      <th scope="col" class=""></th>
			      <th scope="col" class=""></th>
			      <th scope="col" class=""></th>
			      <th scope="col" class=""></th>
			      <th scope="col" class=""></th>
			    </tr>
			    <tr *ngFor="let Cmple of listarCmple">
			    	<td>
			    	  <div class="btn-group" role="group" aria-label="Basic example">
					  	<a class="btn btn-secondary" [routerLink]="['/complementario',Cmple.idcomplementos_t3]"><i class="material-icons">create</i></a>
					  	<button type="button" class="btn btn-secondary" (click)="eliminar(Cmple.idcomplementos_t3,Cmple.descripcion_t3,Cmple)"><i class="material-icons">delete_forever</i></button>
					</div>
			    	</td>
			    	<td>{{Cmple.idcomplementos_t3}}</td>
			    	<td>{{Cmple.descripcion_t3 | truncate: 100}}</td>
			    	<td>{{Cmple.valoracion_t3 | truncate: 100}}</td>
			    	<td>{{Cmple.fmod_t3}}</td>
			    </tr>
			    <tr *ngIf="exitValor">
			    	<td>No tenemos Resultados</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<div class="container-fluid">
  <div class="background" *ngIf="load">
    <div class="left">
      <div class="image"></div>
      <div class="mask thick"></div>
    </div>
    <div class="right">
      <div class="bar"></div>
      <div class="mask thick"></div>
      <div class="bar"></div>
      <div class="mask thin"></div>
      <div class="bar medium"></div>
      <div class="mask thick"></div>
      <div class="bar small"></div>
    </div>
  </div>	
</div>
