<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="card bg-granadient-blue text-white text-center p-3">
		    <blockquote class="blockquote mb-0">
		      <p><i class="material-icons">description</i> formatos Creados</p>
		      <footer class="blockquote-footer text-white">
		        <small>
		          Someone famous in <cite title="Source Title">Source Title</cite>
		        </small>
		      </footer>
		    </blockquote>
		  </div>
		</div>
		<div class="col-md-4">
			<div class="card bg-granadient-green text-white text-center p-3">
		    <blockquote class="blockquote mb-0">
		      <p><i class="material-icons">check_box</i> Evaluaciones Realizadas</p>
		      <footer class="blockquote-footer text-white">
		        <small>
		          Someone famous in <cite title="Source Title">Source Title</cite>
		        </small>
		      </footer>
		    </blockquote>
		  </div>
		</div>
		<div class="col-md-4">
			<div class="card bg-granadient-purple text-white text-center p-3">
		    <blockquote class="blockquote mb-0">
		      <p><i class="material-icons">timelapse</i> Tareas pendientes</p>
		      <footer class="blockquote-footer text-white">
		        <small>
		          Someone famous in <cite title="Source Title">Source Title</cite>
		        </small>
		      </footer>
		    </blockquote>
		  </div>
		</div>
	</div>
	<br><br>	
	<div class="row">
		<div class="col-md-6">
			<div class="card bg-dark text-white text-center" style="padding: 15px;">
				<h3>Proximas Tareas por Vencer</h3>
				<table class="table text-white" style="border: none;">
					<thead>
						<tr>
							<td># tarea</td>
							<td>Nombre del Responsable</td>
							<td>Concepto de la tarea</td>
							<td>Valor total de la tarea</td>
							<td>fecha de vencimiento</td>
							<td>Estado de la tarea</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Miguel Ortega</td>
							<td>Tarea responsable</td>
							<td>10 pts</td>
							<td>2019-09-27</td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Samuel Campo</td>
							<td>Tarea responsable</td>
							<td>10 pts</td>
							<td>2019-09-27</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>William Aldana</td>
							<td>Tarea responsable</td>
							<td>10 pts</td>
							<td>2019-09-27</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card bg-granadient-fluor text-white text-center" style="padding: 15px;">
				<h3>Ultimos Usuarios que iniciaron sesión</h3>
				<table class="table text-white" style="border: none;">
					<thead>
						<tr>
							<td>Id ingreso</td>
							<td>Nombre del Responsable</td>
							<td>usuario</td>
							<td>Fecha de Ingreso</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Samuel Campo</td>
							<td>samuel</td>
							<td>2019-09-24 7:20</td>
						</tr>
						<tr>
							<td>2</td>
							<td>William Aldana</td>
							<td>waldana</td>
							<td>2019-09-24 7:27</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Miguel Ortega</td>
							<td>miguelort095</td>
							<td>2019-09-24 7:45</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>