<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h3>Hola , Eres nuevo te invitamos a configurar los datos de tu <b>tu sistema de gestion y salud en el trabajo</b></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<div class="card">
			  <div class="card-header">
			    Crea tu usuario principal
			  </div>
			  <div class="login-wrap" *ngIf="">
			  	Insertar
			    <form #f="ngForm" (ngSubmit)="IniciarSesion(f)" id="form_tercero" class="login-html">
			    	<div class="login-form">
			    		<div class="">
			    			<div class="group">
			    				<label for="" class="label">Primer Nombre</label>
							    <input [(ngModel)]="nombre1" name="primer_nombre_t0" type="text" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Segundo Nombre</label>
							    <input [(ngModel)]="nombre2" type="text" name="segunda_nombre_t0" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Primer Apellido</label>
							    <input [(ngModel)]="apellido1" type="text" name="primer_apellido_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Segundo Apellido</label>
							    <input [(ngModel)]="apellido2" type="text" name="segundo_apellido_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Cedula</label>
							    <input [(ngModel)]="cedula" type="text" name="cedula_t0" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Usuario</label>
							    <input [(ngModel)]="usuario" type="text" name="usuario_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Telefono</label>
							    <input [(ngModel)]="telefono" type="text" name="telefono_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Direccion</label>
							    <input [(ngModel)]="direccion" type="text" name="direccion_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Cargo</label>
							    <input [(ngModel)]="cargo2" type="text" name="cargo_t0" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Roll del Usuario</label>
							    <select [(ngModel)]="roll" name="roll_t0" id="" class="input form-control">
							    	<option value="" style="color: black">SELECT 1</option>
							    	<option value="" style="color: black">SELECT 2</option>
							    	<option value="" style="color: black">SELECT 3</option>
							    	<option value="" style="color: black">SELECT 4</option>
							    </select>
							</div>
							    <div class="group">
							    <label for="" class="label">Contraseña</label>
							    <input [(ngModel)]="clave" type="password" name="clave_t0" class="input form-control">
							</div>
							    <div class="group">
							    <button class="button">Guardar</button>
			    			</div>
					    </div>
					</div>

			    </form>

			  </div>
			  <div class="login-wrap" *ngIf="">
			    <form #f="ngForm" (ngSubmit)="IniciarSesion(f)" id="form_tercero" class="login-html">
			    	<div class="login-form">
			    		<div class="">
			    			Modificar
			    			<div class="group">
			    				<label for="" class="label">Primer Nombre</label>
							    <input [(ngModel)]="ver_usuario.primer_nombre_t0" name="primer_nombre_t0" type="text" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Segundo Nombre</label>
							    <input [(ngModel)]="ver_usuario.segunda_nombre_t0" type="text" name="segunda_nombre_t0" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Primer Apellido</label>
							    <input [(ngModel)]="ver_usuario.primer_apellido_t0" type="text" name="primer_apellido_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Segundo Apellido</label>
							    <input [(ngModel)]="ver_usuario.segundo_apellido_t0" type="text" name="segundo_apellido_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Cedula</label>
							    <input [(ngModel)]="ver_usuario.cedula_t0" type="text" name="cedula_t0" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Usuario</label>
							    <input [(ngModel)]="ver_usuario.usuario_t0" type="text" name="usuario_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Telefono</label>
							    <input [(ngModel)]="ver_usuario.telefono_t0" type="text" name="telefono_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Direccion</label>
							    <input [(ngModel)]="ver_usuario.direccion_t0" type="text" name="direccion_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Cargo</label>
							    <input [(ngModel)]="ver_usuario.cargo_t0" type="text" name="cargo_t0" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Roll del Usuario</label>
							    <input [(ngModel)]="roll" type="text" name="roll_t0" class="input form-control">
							</div>
							    <div class="group">
							    <label for="" class="label">Contraseña</label>
							    <input [(ngModel)]="ver_usuario.clave_t0" type="password" name="clave_t0" class="input form-control">
							</div>
							    <div class="group">
							    <button class="button">Guardar</button>
			    			</div>
					    </div>
					</div>

			    </form>

			  </div>
			  <div class="card-footer text-muted">
			    
			  </div>
			</div>	
		</div>
		<div class="col-lg-2"></div>
		
	</div>
</div>

