<div class="container-fluid">
	<div class="row">
		<h1 class="text-left col-lg-12">Comencemos una nueva evaluación</h1>
		<form #f="ngForm" (ngSubmit)="iniciar(f)" id="form_tercero" class="col-lg-12">
			<div class="group">
				<label for="#evaluacion">Selecciona el formato para evaluar
					<select ([ngModel])="id_formato" name="id_formato" id="id_formato" class="form-control">
						<option *ngFor="let format of formato" value="{{format.idformato_t2}}">{{format.titulo_t2}}</option>
					</select>
				</label>
			</div>
			<div class="group">
				<button name="iniciar" value="si" class="btn btn-ligth">Iniciar Evaluación</button>
			</div>
		</form>
	</div>
</div>