<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
			  <div class="card-header">
			    Categoria
			  </div>
			  <div class="card-body">
			    <blockquote class="blockquote mb-0">
			    	<div class="row">
			    		<div class="col-lg-12">
							<h3></h3>
							<div class="card">
							  <div class="card-header">
							    Sub-categoria
							  </div>
							  <div class="card-body">
							    <a class="btn btn-info" [routerLink]="['/paso2']">Siguiente</a>
							  </div>
							</div>
						</div>
						<div class="col-lg-12">
							<h3></h3>
							<div class="card">
							  <div class="card-header">
							    Sub-categoria
							  </div>
							  <div class="card-body">
							    <a class="btn btn-info" [routerLink]="['/paso2']">Siguiente</a>
							  </div>
							</div>
						</div>
			    	</div>
			    </blockquote>
			  </div>
			</div>
		</div>
	</div>
</div>
