<div class="container-fluid">
	<div class="row">
		<img src="../../assets/img/backend.png" style="max-width: 150px;display:block;margin:auto;" alt="">
		<div class="col-md-12" style="box-sizing: border-box;">
			<span class="text-success animated infinite bounce delay-5s">Categorias Disponibles para el formato <b></b></span>
		</div>
		<div class="col-lg-12">
			<div class="list-group" id="list-tab" role="tablist">
				<a (click)="siguiente(params.idsubcategoria_t4,1)" class="list-group-item list-group-item-action" *ngFor="let params of arr_categorias" id="list-{{params.descripcion_t4}}" data-toggle="list" href="#list-{{params.descripcion_t4}}" role="tab" aria-controls="home">{{params.descripcion_t4}}</a>
			</div>
		</div>
	</div>
</div>