<div class="container-fluid" *ngIf="!form_verdadero">
	<div class="card">
	  <div class="card-body">
<!-- 	  	<h2>Resumen del Formato </h2>
	    <table class="table table-stripped">
	    	<thead>
	    		<tr>
	    			<td>#registro</td>
	    			<td>items</td>
	    			<td>Valor del items</td>
	    			<td>Valor Evaluado</td>
	    			<td>Descripción</td>
	    			<td>Acciones</td>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr>
	    			<td>1</td>
	    			<td>Solicitud de servicoos</td>
	    			<td>Cumple</td>
	    			<td>No cumple</td>
	    			<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nam aut doloremque, iure labore animi. Commodi rerum eius eligendi, tenetur vitae voluptatibus, sapiente quas dolores repellat optio omnis deserunt nulla.</td>
	    			<td>
	    				<div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" class="btn btn-secondary"><i class="material-icons">remove_red_eye</i></button>
						  <button type="button" class="btn btn-secondary" (click)="form_verdadero = true" ><i class="material-icons">add</i></button>
						</div>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>1</td>
	    			<td>Solicitud de servicoos</td>
	    			<td>Cumple</td>
	    			<td>No cumple</td>
	    			<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nam aut doloremque, iure labore animi. Commodi rerum eius eligendi, tenetur vitae voluptatibus, sapiente quas dolores repellat optio omnis deserunt nulla.</td>
	    			<td>
	    				<div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" class="btn btn-secondary"><i class="material-icons">remove_red_eye</i></button>
						  <button type="button" class="btn btn-secondary" (click)="form_verdadero = true" ><i class="material-icons">add</i></button>
						</div>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>1</td>
	    			<td>Solicitud de servicoos</td>
	    			<td>Cumple</td>
	    			<td>No cumple</td>
	    			<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nam aut doloremque, iure labore animi. Commodi rerum eius eligendi, tenetur vitae voluptatibus, sapiente quas dolores repellat optio omnis deserunt nulla.</td>
	    			<td>
	    				<div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" class="btn btn-secondary"><i class="material-icons">remove_red_eye</i></button>
						  <button type="button" class="btn btn-secondary" (click)="form_verdadero = true" ><i class="material-icons">add</i></button>
						</div>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table> -->
	    <div class="container-fluid">
      		<div class="row">
      			<div class="col-lg-4">
      				<button class="btn btn-secondary" (click)="add_item = true">+</button>
      			</div>
      			<div class="col-lg-8">
      				Items de evaluacion
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-lg-4">
      				<p>Titulo del Items</p>
      			</div>
      			<div class="col-lg-4">
      				<p>Valor del Items {{valor}} </p>
      			</div>
      			<div class="col-lg-4">
      				<p>Fecha de la evaluación</p>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-lg-4">
      				<p>Progreso del Items</p>
      			</div>
      			<div class="col-lg-8">
      				<div class="progress">
					  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': style}" attr.aria-valuenow="{{varlorItems}}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
      			</div>
      		</div>
      		
      		<table class="table">
      			<thead class="bg-dark text-white">
      				<tr>
      					<td>Numero de Items</td>
      					<td>Concepto</td>
      					<td>Valor</td>
      					<td>Fecha de entrega</td>
      					<td>Responsable</td>
      				</tr>
      			</thead>
      			<tbody *ngFor="let tar of tareas">
      				<tr>
      					<td><input type="checkbox" name="idtareas" (change)="validarCheck()" value=""></td>
      					<td>{{tar.plan_accion}}</td>
      					<td>{{varlorItems | number}}</td>
      					<td>{{tar.fecha}}</td>
      					<td>{{tar.cargo}}</td>
      				</tr>
      			</tbody>
      		</table>
      		<form #f="ngForm" (ngSubmit)="agregarItems(f)">
      		<div class="container-fluid">
      			<div *ngIf="add_item" class="row">
      				
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="plan_accion" name="plan_accion" placeholder="Plan de Acciòn">
						    </mat-form-field>	
						</div>
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="cargo" name="cargo" placeholder="Cargo Responsable">
						    </mat-form-field>
						</div>
      					<div class="col">
      						<mat-form-field style="">
							  <input matInput [(ngModel)]="fecha" name="fecha" [matDatepicker]="picker" placeholder="Fecha de entrega">
							  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							  <mat-datepicker #picker startView="year"  [startAt]="startDate"></mat-datepicker>
							</mat-form-field>
						</div>
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="recursos" name="recursos" placeholder="Resursos a utilizar">
						    </mat-form-field>
						</div>
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="fundamentos" name="fundamentos" placeholder="Fundamentos y soportes de la efectividad de las acciones y actividades">
						    </mat-form-field>
						</div>
						<div class="col-lg-12">
							<button type="submit" class="btn btn-primary btn-block">Guardar</button>
						</div>
					
      			</div>
      		</div>
      		</form>
      </div>
	  </div>
	</div>
</div>
<!-- <div class="modal-body" *ngIf="form_verdadero">
      	<div class="container-fluid">
      		<div class="row">
      			<div class="col-lg-4">
      				<button class="btn btn-secondary" (click)="add_item = true">+</button>
      			</div>
      			<div class="col-lg-8">
      				Items de evaluacion
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-lg-4">
      				<p>Titulo del Items</p>
      			</div>
      			<div class="col-lg-4">
      				<p>Valor del Items {{valor}} </p>
      			</div>
      			<div class="col-lg-4">
      				<p>Fecha de la evaluación</p>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-lg-4">
      				<p>Progreso del Items</p>
      			</div>
      			<div class="col-lg-8">
      				<div class="progress">
					  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': style}" attr.aria-valuenow="{{varlorItems}}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
      			</div>
      		</div>
      		
      		<table class="table">
      			<thead class="bg-dark text-white">
      				<tr>
      					<td>Numero de Items</td>
      					<td>Concepto</td>
      					<td>Valor</td>
      					<td>Fecha de entrega</td>
      					<td>Responsable</td>
      				</tr>
      			</thead>
      			<tbody *ngFor="let tar of tareas">
      				<tr>
      					<td><input type="checkbox" name="idtareas" (change)="validarCheck()" value=""></td>
      					<td>{{tar.plan_accion}}</td>
      					<td>{{varlorItems | number}}</td>
      					<td>{{tar.fecha}}</td>
      					<td>{{tar.cargo}}</td>
      				</tr>
      			</tbody>
      		</table>
      		<form #f="ngForm" (ngSubmit)="agregarItems(f)">
      		<div class="container-fluid">
      			<div *ngIf="add_item" class="row">
      				
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="plan_accion" name="plan_accion" placeholder="Plan de Acciòn">
						    </mat-form-field>	
						</div>
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="cargo" name="cargo" placeholder="Cargo Responsable">
						    </mat-form-field>
						</div>
      					<div class="col">
      						<mat-form-field style="">
							  <input matInput [(ngModel)]="fecha" name="fecha" [matDatepicker]="picker" placeholder="Fecha de entrega">
							  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							  <mat-datepicker #picker startView="year"  [startAt]="startDate"></mat-datepicker>
							</mat-form-field>
						</div>
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="recursos" name="recursos" placeholder="Resursos a utilizar">
						    </mat-form-field>
						</div>
      					<div class="col">
      						<mat-form-field class="example-full-width">
						      <input matInput [(ngModel)]="fundamentos" name="fundamentos" placeholder="Fundamentos y soportes de la efectividad de las acciones y actividades">
						    </mat-form-field>
						</div>
						<div class="col-lg-12">
							<button type="submit" class="btn btn-primary btn-block">Guardar</button>
						</div>
					
      			</div>
      		</div>
      		</form>
      </div>
  </div>
     -->