<div class="container-fluid">
	<div class="row">
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="">
			  <div class="login-wrap">
			    <form #f="ngForm" (ngSubmit)="IniciarSesion(f)" id="form_tercero" class="login-html">
			    	<div class="login-form">
			    		<div class="">
			    			<div class="group">
			    				<h2 class="">Crear Items</h2>
							</div>
			    			<div class="group">
			    				<label for="" class="label">Numero Identificativo</label>
							    <input [(ngModel)]="identifiactivo1" name="n_identificativo_t3" type="text" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Maco Legal</label>
							    <input [(ngModel)]="marco_legal1" type="text" name="marco_legal_t3" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Criterio</label>
							    <input [(ngModel)]="criterio1" type="text" name="criterio_t3" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Categoria</label>
							    <select [(ngModel)]="categoria1" type="text" name="idcategoria_t3" class="input form-control">
							    	<option></option>
							    </select>
							</div>
							<div class="group">
							    <label for="" class="label">Verificacion</label>
							    <input [(ngModel)]="verificacion1" type="text" name="mo_verificacion_t3" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Puntuaje</label>
							    <input [(ngModel)]="puntuaje1" type="text" name="puntuaje_t3" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Valoracion</label>
							    <input [(ngModel)]="valor1" type="text" name="valoracion_t3" class="input form-control">
							</div>
							    <div class="group">
							    <button class="button">Guardar</button>
			    			</div>
					    </div>
					</div>
			    </form>
			  </div>
			</div>
		</div>
	</div>
</div>
