

<div class="container-fluid">
	<div class="row">
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="">
			  <div class="login-wrap">
			    <form #f="ngForm" (ngSubmit)="guardarFormato(f)" id="form_tercero" class="login-html">
			    	<div class="login-form">
			    		<div class="">
			    			<div class="group">
			    				<h2 class="">Crear Formato</h2>
							</div>
			    			<div class="group">
			    				<label for="" class="label">Titulo del Formato</label>
							    <input [(ngModel)]="titulo1" name="titulo_t2" type="text" class="input form-control">
							</div>
							<div class="group">
							    <label for="" class="label">Descripcion</label>
							    <textarea [(ngModel)]="descripcion1" type="text" name="descripcion_t2" class="input form-control"></textarea>
							</div>
							<div class="group">
							    <div *ngFor="let categoria of categoria1">
							 		<input type="checkbox" [(ngModel)]="categoria.idcategoria_t8" name="categoria[]">
							 		<label for="">{{categoria.nombre_t8}}</label>
							 	</div>
							</div>
							    <div class="group">
							    <button class="button">Guardar</button>
			    			</div>
					    </div>
					</div>
			    </form>
			  </div>
			</div>
		</div>
	</div>
</div>

