<aside>
  <div id="wrapper">
    <h2 class="text-center">Sistema de Gestion y Salud</h2>
    <ul class="list-group">
      <li class="list-group-item">
      	<ul class="nav flex-column">
      	  <a href="#" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Administración</a>
      	  <div class="collapse" id="collapseExample">
      	  		<li class="nav-item"><a class="nav-link">Modulo</a></li>
      	  		<li class="nav-item"><a class="nav-link">Modulo</a></li>
      	  		<li class="nav-item"><a class="nav-link">Modulo</a></li>
      	  		<li class="nav-item"><a class="nav-link">Modulo</a></li>
      	  		<li class="nav-item"><a class="nav-link">Modulo</a></li>
      	  </div>
      	</ul>
      </li>
      <li class="list-group-item"></li>
      <li class="list-group-item"></li>
      <li class="list-group-item"></li>
    </ul>
  </div>
</aside>
<router-outlet></router-outlet>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



