<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="box-sizing: border-box;">
			<span class="text-success">Categorias Disponibles para el formato <b>{{arr_formato[0].titulo_t2}}</b></span>
		</div>
		<div class="col-lg-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action" *ngFor="let params of arr_formato" id="list-{{params.idrelacion_t6}}" data-toggle="list" href="#list-{{params.idrelacion_t6}}" role="tab" aria-controls="home">{{params.categoria_t6}}</a>
			</div>
		</div>
	</div>
</div>